@import url("../../WebFontsContrib/poppins/font-face.css");
@import url("../../MatterTheme/build/topmenuVariation.css");

:root {
  --font-family-banner: Poppins, Arial, Helvetica, sans-serif;
  --font-family-alt: Poppins, Arial, Helvetica, sans-serif;

  --topbar-background:#b0eb76;
  --topbar-gradient:linear-gradient(to bottom, var(--topbar-background) 0%, var(--color-background) 66%);
  --topbar-sticky-background: rgba(238, 237, 236, 0.8);

  --alt-background: #f1f1f1;
  --bottombar-background:var(--alt-background);
  --bottombar-border:transparent;

  --page-width-fixed:1120px;
  --slim-width:672px; /* 60% */
  --font-weight-banner:600;
  --font-size:16;
  --line-height:1.7;

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;

  --font-weight-h2: var(--font-weight-semi-bold);
  --font-weight-h3: var(--font-weight-semi-bold);
  --font-family-h4: var(--font-family-regular);
  --font-family-h5: var(--font-family-regular);
  --font-family-h6: var(--font-family-regular);

  --newlink-foreground:var(--color-anchor);
  --bubbles-background:#fff;
}
:root[data-theme='dark'] {
/*
  --topbar-background:var(--color-secondary-darker-5);

  --topbar-gradient:linear-gradient(to bottom, var(--topbar-background) 0%, var(--color-secondary-darker-7) 66%);
*/

  --bubbles-background:rgba(255, 255, 255, 0.3);
  --topbar-sticky-background: rgba(17, 18, 19, 0.8);
  --color-h2:#82c0fd;
  --color-h3:var(--color-h2);
  --color-h4:var(--color-h2);
  --color-h5:var(--color-h2);
  --color-h6:var(--color-h2);
}

/*
.natWebMenu .hasSubMenu {
  display:none;
}
.natBodySticky .natWebMenu .hasSubMenu,
.natBodyStickyTopBar .natWebMenu .hasSubMenu {
  display:list-item;
}
*/

.natBodySticky .natWebLogo, 
.natBodyStickyTopBar .natWebLogo {
  width:auto;
  height:75px;
}
.natBodySticky .natTopBar, 
.natBodyStickyTopBar .natTopBar {
  background-color:var(--topbar-sticky-background);
}
.natBodySticky .natTopBar .natWebMenuSpacer, 
.natBodyStickyTopBar .natTopBar .natWebMenuSpacer {
  flex-grow:1;
}
.natWebTitle {
  margin-right:2rem;
}

.natMainHeaderContents {
  position:fixed;
  top:1rem;
  right:1rem;
  z-index:500;
}

.natMainContents {
  padding:0;
  margin:0;
}
.natBodyBordered .natMiddle {
  padding:0;
}
.natBanner {
  height:auto;
  height:clamp(20em, 80vh, 40em);
  background: var(--topbar-gradient) !important; 
}
.natTopBarContents {
  max-width:var(--page-width-fixed);
  margin:0 auto;
  padding:2rem 0;
}
/*
.natBottomBar {
  margin-top:var(--margin);
}
*/
.natBottomBarContents {
  max-width:var(--page-width-fixed);
  margin:0 auto;
}
.natSearchBox {
  max-width:var(--page-width-fixed);
  margin:0 auto;
}

.natTopBar {
  border:0;
}
a.natNewAction,
a.natBookmarksAction,
.natPanelToggle a,
.natWebMenu li a {
  font-weight:var(--font-weight-normal);
}
.natWebLogo {
  height:85px;
}

.foSection {
  padding:0 1rem;
}
.foSection.jqBubbles .bubble,
.foSectionContents.jqBubbles .bubble {
  bottom: 320px;
  opacity: 0.7;
}
.foSectionContents {
   max-width:var(--page-width-fixed);
   margin:0 auto;
   padding:3rem 0 4rem;
}
.jqBubbles {
  position: relative;
  padding:0;
}
.jqBubbles .bubble {
   position: absolute;
   border-radius: 100%;
   bottom: 0;
   background: var(--bubbles-background);
   z-index: 10;
}

.foSection:nth-child(2n-1) {
  background-color:var(--alt-background);
}
.natBannerContents {
  padding:0;
}
.natBannerContents h1 {
  line-height:1.3;
  max-width:var(--slim-width);
  margin:2rem auto 7rem;
  color:#52af00;
  text-shadow:0 0 25px var(--color-background);
  text-align:center;
  position:relative;
  z-index:10;
}
.natBannerContents .foButtonBox {
  margin:0 auto;
  color:#3E89D3;
  color:#888;
  text-align:center;
}
.foInlineBlock {
  display:inline-block;
  text-align:left;
}
.foSlimSection {
  max-width:var(--slim-width);
  margin:0 auto;
}
.foBlueButton,
.foOrangeButton {
  font-size:120%;
  line-height:2;
  font-weight:var(--font-weight-semi-bold);
  display:inline-block;
  margin:20px 20px 20px 0;
  padding:0.5rem 1.5rem;
  color:#fff !important;
  transition:250ms;
}
.foBlueButton .foswikiIcon ,
.foOrangeButton .foswikiIcon {
  font-weight:var(--font-weight-normal);
}
.foOrangeButton {
  background-color:#F9A842;
}
.foOrangeButton:hover {
  background-color:#F28806 !important;
}
.foBlueButton {
  background-color:#1A7EE3;
  background-color:#82C0FD;
  background-color:#3E89D3;
}
.foBlueButton:hover {
  background-color:#53A3F2 !important;
}
.foSection {
  padding:0 1rem;
}
.foSection h2 {
  margin-top:0;
  margin-bottom:2rem;
}
.foSection h3 {
  margin-top:4rem;
  margin-bottom:2rem;
}
.foSection h2,
.foSection h3 {
  text-align:center;
  border:0;
}
.pics  {  
 width: 316px;
 height: 327px;
 padding: 0;  
 margin: 0 auto;
 border:0;
 overflow:hidden;
}
.pics img {  
 padding: 0;  
 border: none;
 background-color: #fff;  
 width:  316px; 
 height: 327px; 
 top:  0; 
 left: 0 
}
.foSocialNetworks {
  text-align:center;
}
.foSocialNetworks a {
  display:block;
  text-decoration:none;
}
.foSocialNetworks h4,
.foSocialNetworks h5 {
  margin:var(--margin) 0;
}
.foSocialNetworks a,
.foSocialNetworks a h4,
.foSocialNetworks a h5 {
  color:var(--color-text);
}

.foSocialNetworks a:hover,
.foSocialNetworks a:hover h3,
.foSocialNetworks a:hover h4,
.foSocialNetworks a:hover h5 {
  background-color:transparent !important;
  color:#06C;
}
.foSocialNetworks i.foswikiIcon {
  font-size:32px;
  width:32px;
  height:32px;
  line-height:1;
  border-radius:50%;
  color:#fff;
  padding:0.7rem;
}
.foSocialNetworks img {
  width:54px;
  height:auto;
}
.foSocialNetworks a i {
  background-color:#52AF00;
}
.foSocialNetworks a:hover i {
  background-color:#06C;
}
.foSocialNetworks .ti-brand-mastodon {
   background-color:#2b90d9;
}
.foSocialNetworks .ti-brand-facebook {
   background-color:#3B5998;
}
.foSocialNetworks .ti-brand-github {
   background-color:#171515;
}
.natMoreActionsMenu .natMegaMenuCol h2, 
.natMoreActionsMenu .natMegaMenuCol h3 {
  font-weight:var(--font-weight-normal);
  font-size:1.3rem;
  font-family: var(--font-family-regular);
}
.natBodyNotAuthenticated .natTopBar .natUserActions {
  display:block;;
  position:fixed;
  top:1rem;
  right:1rem;
}

.natTopBar .natRegisterAction {
  display:none;
}

.natLoginHeading {
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
}
